<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <!--script src="../utilerias/Keyboard-master/docs/js/jquery-latest.min.js"></!--script-->
    <!--<link href="../utilerias/Keyboard-master/docs/css/bootstrap.min.css" rel="stylesheet" >-->
    <!--<link href="../utilerias/Keyboard-master/docs/css/font-awesome.min.css" rel="stylesheet" >-->
    <!--<link href="../utilerias/Keyboard-master/docs/css/demo.css" rel="stylesheet">-->

    <link href="../utilerias/Keyboard-master/css/keyboard-dark.css" rel="stylesheet">
    <script src="../utilerias/Keyboard-master/js/jquery.keyboard.js"></script>
    
    <script src="../utilerias/Keyboard-master/js/jquery.mousewheel.js"></script>
    <script src="../utilerias/Keyboard-master/js/jquery.keyboard.extension-altkeyspopup.js"></script>
       

    <!-- initialize keyboard (required) -->
    <script>
        $(document).ready(function () { 
	    /* add some custom popups */
	    $.extend( $.keyboard.altKeys, {
		    1   : '\u2460 \u2474 \u2488 \u2776 \u278a \u2780',
		    '!' : '\u00a1 \u2762 \u2763', // adding two more exclamation points!
		    2   : '\u2461 \u2475 \u2489 \u2777 \u278b \u2781',
		    3   : '\u2462 \u2476 \u248a \u2778 \u278c \u2782',
		    4   : '\u2463 \u2477 \u248b \u2779 \u278d \u2783',
		    5   : '\u2464 \u2478 \u248c \u277a \u278e \u2784',
		    6   : '\u2465 \u2479 \u248d \u277b \u278f \u2785',
		    7   : '\u2466 \u247a \u248e \u277c \u2790 \u2786',
		    8   : '\u2467 \u247b \u248f \u277d \u2791 \u2787',
		    9   : '\u2468 \u247c \u2490 \u277e \u2792 \u2788',
		    0   : '\u2469 \u247d \u2491 \u277f \u2793 \u2789',
		    '[' : '\u25c0 \u25c1 \u25c2 \u25c3 \u25c4 \u25c5 \u261a \u261c', // left arrows
		    ']' : '\u25b6 \u25b7 \u25b8 \u25b9 \u25ba \u25bb \u261b \u261e', // right arrows
		    // action keys the "!!" makes the button get the "ui-state-active" (set by the css.buttonActive option)
		    'enter' : '{!!clear} {!!a} {!!c}',
		    // smileys, card suits, & other symbols
		    '\u263a' : '\u2639 \u263b \u2660 \u2661 \u2662 \u2663 \u2664 \u2665 \u2666 \u2667 \u2766 \u2767 \u263c \u263d \u263e \u2605 \u2606',
		    // symbols with 4+ arms
		    '\u2719' : '\u271a \u271b \u271c \u271d \u271e \u271f \u2720 \u2721 \u2722 \u2723 \u2724 \u2725 \u2726 \u2727 \u2729 \u272a \u272b \u272c \u272d \u272e \u272f \u2730 \u2731 \u2732 \u2733 \u2734 \u2735 \u2736 \u2737 \u2738 \u2739 \u273a \u273b \u273c \u273d \u273e \u273f \u2740 \u2741 \u2742 \u2743 \u2744 \u2745 \u2746 \u2747 \u2748 \u2749 \u274a \u274b \u2756'
	    });

	$(function(){
	    $('#keyboard_comentarios').keyboard({
			layout: 'custom',
			/*customLayout: {
				'normal': [
					'` 1 2 3 4 5 6 7 8 9 0 - = {bksp}',
					'{t} q w e r t y u i o p [ ] \\',
					'a s d f g h j k l ñ ; \' {enter}',
					'{shift} z x c v b n m , . / {shift}',
					'{accept} {space} {cancel} \u263a \u2719'
				],
				'shift': [
					'~ ! @ # $ % ^ & * ( ) _ + {bksp}',
					'{t} Q W E R T Y U I O P { } |',
					'A S D F G H J K L Ñ : " {enter}',
					'{shift} Z X C V B N M < > ? {shift}',
					'{accept} {space} {cancel} \u263a \u2719'
				]
			},*/
			customLayout: {
			    'normal': [
					'` 1 2 3 4 5 6 7 8 9 0 - = {bksp}',
					'{t} q w e r t y u i o p [ ] \\',
					'a s d f g h j k l ñ ; \' {enter}',
					'{shift} z x c v b n m , . / {shift}',
					'{accept} {space} {cancel}'
			    ],
			    'shift': [
					'~ ! @ # $ % ^ & * ( ) _ + {bksp}',
					'{t} Q W E R T Y U I O P { } |',
					'A S D F G H J K L Ñ : " {enter}',
					'{shift} Z X C V B N M < > ? {shift}',
					'{accept} {space} {cancel}'
			    ]
			},
			repeatRate : 0
		}).addAltKeyPopup({
			// time to hold down a button in ms to trigger a popup
			holdTime : 500,
			// event triggered when popup is visible
			// access the overlay from keyboard.altKeyPopup_$overlay
			// or the keys container from keyboard.altKeyPopup_$overlay.find('.ui-keyboard-popup')
			// or the keys from keyboard.altKeyPopup_$overlay.find('.ui-keyboard-button')
			popupVisible : 'popup-visible'
		});
	});
        })
    </script>
</head>
<body>
    <div class="container-fluid table-responsive">
        <div data-container="row">
            <span data-control="label" class="label label-primary">Comentarios</span>
            <input id="keyboard_comentarios" type="text" class="inputValorIncrementarDecrementar">
        </div>        
        <!--<div data-container="row">
            <span data-control="label" class="label label-primary">Comentarios</span>
            <span data-control="field" data-field="Comentarios" class="form-control sp">[Comentarios]</span>
        </div>-->
        <div data-container="row">
            <span data-control="label" class="label label-primary">Archivo</span>
            <span data-control="field" data-field="Picture" class="form-control sp">[Picture]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Nombre de Archivo</span>
            <span data-control="field" data-field="PictureFileName" class="form-control sp">[PictureFileName]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Tipo de Archivo</span>
            <span data-control="field" data-field="PictureContentType" class="form-control sp">[PictureContentType]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Tamaño de Archivo</span>
            <span data-control="field" data-field="PictureLength" class="form-control sp">[PictureLength]</span>
        </div>       
    </div>
</body>
</html>
