<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script>
        $(document).ready(function () {
            $('#Cantidad_Material_Entregado').numpad({
                hidePlusMinusButton: true,//ocultamos el negativo
                hideDecimalButton: false
            });
        });
    </script>
</head>
<body>
    <div class="container-fluid table-responsive">
        <div data-container="row">
            <span data-control="label" class="label label-primary">Material</span>
            <span data-control="field" data-field="Material" class="form-control sp">[Material]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Descripción de Material</span>
            <span data-control="field" data-field="Material_Descripcion" class="form-control sp">[Material_Descripcion]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Cantidad de Material solicitado:</span>
            <span data-control="field" data-field="Cantidad_Solicitado" class="form-control sp">[Cantidad_Solicitado]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Unidad Material Solicitado:</span>
            <span data-control="field" data-field="Unidad_Material_Solicitado" class="form-control sp">[Unidad_Material_Solicitado]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Ubicación de Almacenamiento:</span>
            <span data-control="field" data-field="Ubicacion_Almacenamiento_Id" class="form-control sp">[Ubicacion_Almacenamiento_Id]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">* Cantidad de Material Entregado:</span>
            <input type="number" min="0" max="99999" id="Cantidad_Material_Entregado" value="0" class="inputValorIncrementarDecrementar" required />
            <input type="button" class="btnIncrementar" id="incrementar" value="+" onclick="incrementarDecrementar('+', 'Cantidad_Material_Entregado', 0)" />
            <input type="button" class="btnIncrementar" id="decrementar" value="-" onclick="incrementarDecrementar('-', 'Cantidad_Material_Entregado', 0)" />
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Unidad Material Entregado:</span>
            <span data-control="field" data-field="Unidad_Material_Entregado_Id" class="form-control sp">[Unidad_Material_Entregado_Id]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Folio Material Ubicación Stock:</span>
            <span data-control="field" data-field="Material_Ubicacion_Stock_Id" class="form-control sp">[Material_Ubicacion_Stock_Id]</span>
        </div>

        <!--div data-container="row">
        <span data-control="label" class="label label-primary">Ubicación Almacenamiento de Surtido:</span>
        <span data-control="field" data-field="Ubicacion_Almacenamiento_De_Surtido_Id" class="form-control sp">[Ubicacion_Almacenamiento_De_Surtido_Id]</span>
    </div-->
    </div>
</body>
</html>
