<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script>
        $(document).ready(function () {
            $('#Cantidad_Material_Transferido').numpad({
                hidePlusMinusButton: true,//ocultamos el negativo
                hideDecimalButton: false
            });

        });
    </script>
</head>
<body>
    <div class="container-fluid table-responsive">
        <div data-container="row">
            <span data-control="label" class="label label-primary">Material</span>
            <span data-control="field" data-field="Transferencia_Material" class="form-control sp">[Transferencia_Material]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Descripción de Material</span>
            <span data-control="field" data-field="Transferencia_Material_Desc" class="form-control sp">[Transferencia_Material_Desc]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Cantidad de Material a Transferir:</span>
            <span data-control="field" data-field="Cantidad_A_Transferir" class="form-control sp">[Cantidad_A_Transferir]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Ubicación de Almacenamiento:</span>
            <span data-control="field" data-field="Transferencia_En_Ubicacion_Almacenamiento_Id" class="form-control sp">[Transferencia_En_Ubicacion_Almacenamiento_Id]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">* Cantidad de Material Transferido:</span>
            <input type="number" min="0" max="99999" id="Cantidad_Material_Transferido" value="0" class="inputValorIncrementarDecrementar" required />
            <input type="button" class="btnIncrementar" id="incrementar" value="+" onclick="incrementarDecrementar('+', 'Cantidad_Material_Transferido', 0)" />
            <input type="button" class="btnIncrementar" id="decrementar" value="-" onclick="incrementarDecrementar('-', 'Cantidad_Material_Transferido', 0)" />
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Unidad Material Devuelto:</span>
            <span data-control="field" data-field="Unidad_Material_Transferido_Id" class="form-control sp">[Unidad_Material_Transferido_Id]</span>
        </div>
        <div data-container="row">
            <span data-control="label" class="label label-primary">Folio Material Ubicación Stock:</span>
            <span data-control="field" data-field="Material_Ubicacion_Stock_Id" class="form-control sp">[Material_Ubicacion_Stock_Id]</span>
        </div>
    </div>
</body>
</html>
