/* .app-bar-toolbar .app-logo span {     
	text-indent: -9999px;     
	width: 90px;     
	padding : 0;     
	background-image: url("../images/LogoFinalOriginal.png");
	background-color: #fff;     
	background-size: auto 40px;     
	background-position: center center; 

} */



